<div class="film-card" data-card="card">

  <a href="#" class="film-card__link">
    <img
      class="film-card__image"
      src="https://image.tmdb.org/t/p/w500{{poster_path}}"
      alt="{{title}} "
      id="{{id}}"
    />
    <div class="film-card__description">
      <p class="film-card__text">{{trimmedString}}</p>
      <span class="film-card__text film-rating">{{vote_average}}</span>
    </div>
  </a>

</div>